<dx-form [(formData)]="data" (onInitialized)="onInitialized($event)"></dx-form>

<!-- POPUP PARA CONFIRMAR FECHAMENTO DE FORMULARIO -->
<dx-popup 
    #popupDataRecoverConfirmation 
    [showCloseButton]="false" 
    [dragEnabled]="false"
    [maxWidth]="400"
    [height]="300"
    [position]="'center'"
    [resizeEnabled]="false"
    [showCloseButton]="true"
    [showTitle]="true"
    [title]="'Recuperar Dados?'"
></dx-popup>
