<div class="vst-header {{ class }}">
    <div class="container-fluid">
        <h2 class="_vst-title">{{ title }}</h2>
        <small class="_vst-description" *ngIf="description">{{ description }}</small>
    </div>
</div>