/* You can add global styles to this file, and also import other style files */
.dx-data-row .vs-simplecolumn.uppercase {
    text-transform: uppercase;
}

.vs-simplecolumn.uppercase input{
    text-transform: uppercase;
}