@import "src/styles/_vst-mixins.scss";
@import "src/styles/pattern.scss";

#vst-tabs {
    width: 100%;
    height: var(--vst-height-tabs);
    background-color: var(--vst-color-bg-tabs);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    
    &::-webkit-scrollbar {
        height: 7px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--vst-color-bg-scroll-tabs-track);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--vst-color-bg-scroll-tabs-thumb);
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--vst-color-bg-scroll-tabs-thumb-hover);
    }

    @include responsive-breakpoint-down {
        display: none;
    }
}

ul {
    padding: 0;
    margin: 0 !important;
    height: var(--vst-height-inner-tabs);
    position: relative;
    bottom: 0;
    padding-top: var(--vst-padding-top-tabs);
    padding-left: var(--vst-margin-right-tab);

    // fix position on screen
    // bottom: -1px
    
    list-style-type: none;
    li {
        display: inline-block;
        height: var(--vst-height-inner-tabs);
        margin-right: var(--vst-margin-right-tab);
    }
}

._vst-tab {
    position: relative;
}

._vst-tab-link {
    position: relative;
    height: var(--vst-height-inner-tabs);
    display: block;
}
._vst-tab:hover ._vst-tab-link,
._vst-tab:active ._vst-tab-link {
    text-decoration: none;
}

._vst-tab-content {
    background-color: var(--vst-color-bg-tab); /* BACKGROUND QUANDO DESATIVADO */
    color: var(--vst-color-text-tab);
    height: var(--vst-height-inner-tabs);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-top-left-radius: var(--vst-radius-border-left-top-tab);
    border-top-right-radius: var(--vst-radius-border-right-top-tab);
    
    padding: var(--vst-padding-inner-tab);
    display: block;
    font-size: 13px;
    min-width: 100px;
    max-width: 150px;

    img {
        width: 14px;
        height: 14px;
        display: inline-block;
        position: relative;
        top: -10px;
        margin-right: 4px;
    }
}


._vst-tab:hover ._vst-tab-content {
    background-color: var(--vst-color-bg-tab-hover); /* BACKGROUND QUANDO HOVER */
}

._vst-tab.selected ._vst-tab-content {
    color: #474747;
    background-color: var(--vst-color-bg-tab-selected); /* BACKGROUND QUANDO ATIVO */
}

._vst-tab-content ._vst-tab-title {
    display: inline-block;
    overflow: hidden;
    line-height: 1.1;
    font-weight: bold;
}
._vst-tab-title ._vst-tab-domain {
    display: block;
    font-size: 60%;
    opacity: .6;
}

._vst-tab ._vst-close-btn {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: var(--vst-margin-top-tab-btn-close);
    width: var(--vst-side-close-tab-btn);
    height: var(--vst-side-close-tab-btn);
    display: none;
    cursor: pointer;
}

._vst-tab .svg-close-btn {
    width: 100%;
    height: 100%;
}

._vst-tab:hover ._vst-close-btn {
    display: block;
}
