<vst-header title="Form Validation" description="descricao"></vst-header>

<div class="form-container">
    <div class="container-fluid">
        <form (submit)="submit()">
            <vst-form [schema]="formSchema" [data]="formData"></vst-form>
        </form>
    </div>
</div>



<vst-header title="Grid Form" description="descricao"></vst-header>
<vst-grid [schema]="gridSchema"></vst-grid>
<br><br>