////////////////////////////////////////////
/** COLORS **/
////////////////////////////////////////////
////// PADROES
$vst-color-theme: #90D14F;
$vst-color-primary: $vst-color-theme;
$vst-color-error: #FF6E80;
$vst-color-success: #90D14F;
$vst-color-text: #4A4A4A;

////// BACKGOUND
$vst-color-bg-body: #FFF;
$vst-color-bg-menu: #524d6d;
$vst-color-bg-tabs: #3b394c;
$vst-color-bg-tab-out: #D4D6D7;
$vst-color-bg-fieldbuilder: #FFF;
$vst-color-bg-tab: #D4D6D7;
$vst-color-bg-tab-selected: $vst-color-bg-body;
$vst-color-bg-tab-hover: darken($vst-color-bg-tab, 2);

////// FONTS
$vst-color-font-menu: #FFF;
$vst-color-text-tab: $vst-color-text;
$vst-color-text-tab-selected: $vst-color-text;

////// BORDERS
$vst-color-border: #3f3b56;



////////////////////////////////////////////
/** SIZES **/
////////////////////////////////////////////
////// WIDTH
$vst-width-menu: 240px;
$vst-pl-menu: 20px;
$vst-width-viewers: 0px;

////// HEIGHT
$vst-height-nav: 50px;
$vst-height-tabs: $vst-height-nav;
$vst-height-filtermenu: 24px;
$vst-height-titlemenu: 42px;
$vst-height-inner-tabs: 100%;
$vst-height-breadcrumbs: 40px;

////// FONTS
$vst-side-menu-icon-font-size: 1rem;

////// UTILS
$vst-margin-right-tab: 4px;
$vst-padding-top-tabs: 8px;
$vst-padding-inner-tab: 7px 8px;
$vst-side-close-tab-btn: 16px;
$vst-radius-border-left-top-tab: 4px;
$vst-radius-border-right-top-tab: 4px;
$vst-side-menu-icon: 16px;


////////////////////////////////////////////
/** PADDINGS **/
////////////////////////////////////////////
$vst-padding-x-fbcell: 12px;
$vst-padding-y-fbcell: 4px;



////////////////////////////////////////////
////////////////////////////////////////////
//////////
//////////  HERANCAS
//////////
////////////////////////////////////////////
////////////////////////////////////////////

%vst-otl-item {
    // otl
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}