#vst-lmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: $vst-width-menu;
    height: 100%;
    background-color: $vst-color-bg-menu;
    overflow: auto;
    padding-bottom: 40px;
    padding-left: $vst-pl-menu;

    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        // background: #f1f1f1;
        // background: darken($vst-color-bg-menu, 7%);
        background: lighten($vst-color-bg-menu, 20%);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        // background: #888;
        background: darken($vst-color-bg-menu, 6%);
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        // background: #555; 
        background: darken($vst-color-bg-menu, 20%);
    }

    .bt-content {
        padding-left: 6px;
        margin-bottom: 6px;
    }
    .bt-logo {
        // @extend %bt-otl-item;
        width: 100%;
        // height: $bt-topbar-height;
        padding-left: 16px;
        // justify-content: center;
	}
    
    .vsti-items {
        list-style: none;
        padding: 0;
        margin-top: 40px;
        .vsti-item {
            margin-bottom: 4px;
            a {
                color: $vst-color-text;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}
