// DRAGULA DND
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999999 !important;
    opacity: 0.82;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=82)";
    filter: alpha(opacity=82);
    pointer-events: none;
    list-style-type: none;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    size: 40%;
    cursor: grabbing;
}