@import "src/styles/_vst-variables.scss";

// PADRÃO DE VARIAVES DO CSS
$variables: (
    ////////////////////////////////////////////
    /** COLORS **/
    ////////////////////////////////////////////
    // GERAL
    --vst-color-theme: var(--vst-color-theme, #{$vst-color-theme}),
    --vst-color-primary: var(--vst-color-primary, #{$vst-color-theme}),
    --vst-color-error: var(--vst-color-error, #{$vst-color-error}),
    --vst-color-success: var(--vst-color-success, #{$vst-color-theme}),
    --vst-color-text: var(--vst-color-text, #{$vst-color-text}),
    // BACKGROUNDS
    --vst-color-bg-body: var(--vst-color-bg-body, #{$vst-color-bg-body}),
    --vst-color-bg-menu: var(--vst-color-bg-menu, #{$vst-color-bg-menu}),
    --vst-color-bg-tabs: var(--vst-color-bg-tabs, #{$vst-color-bg-tabs}),
    --vst-color-bg-tab-out: var(--vst-color-bg-tab-out, #{$vst-color-bg-tab-out}),
    --vst-color-bg-fieldbuilder: var(--vst-color-bg-fieldbuilder, #{$vst-color-bg-body}),
    --vst-color-bg-tab: var(--vst-color-bg-tab, #{$vst-color-bg-tab-out}),
    --vst-color-bg-tab-selected: var(--vst-color-bg-tab-selected, #{$vst-color-bg-body}),
    --vst-color-bg-tab-hover: var(--vst-color-bg-tab-hover, #{darken($vst-color-bg-tab-out, 2)}),
    --vst-color-bg-breadcrumbs: var(--vst-color-bg-breadcrumbs, #{darken($vst-color-bg-body, .8)}),
    --vst-color-bg-header: var(--vst-color-bg-header, #{darken($vst-color-bg-body, .8)}),
    --vst-color-bg-filter: var(--vst-color-bg-filter, #{darken($vst-color-bg-menu, 2%)}),
    --vst-color-bg-filter-hover: var(--vst-color-bg-filter-hover, #{darken($vst-color-bg-menu, 4%)}),
    --vst-color-bg-menu-item-hover: var(--vst-color-bg-menu-item-hover, #{darken($vst-color-bg-menu, 2%)}),
    --vst-color-bg-menu-item-active: var(--vst-color-bg-menu-item-active, #{$vst-color-bg-menu}),
    --vst-color-bg-menu-item-point-active: var(--vst-color-bg-menu-item-point-active, #{darken($vst-color-bg-menu, 10%)}),
    --vst-color-bg-menu-title-hover: var(--vst-color-bg-menu-title-hover, #{darken($vst-color-bg-menu, 5%)}),
    --vst-color-bg-scroll-track: var(--vst-color-bg-scroll-track, #{lighten($vst-color-bg-menu, 20%)}),
    --vst-color-bg-scroll-thumb: var(--vst-color-bg-scroll-thumb, #{lighten($vst-color-bg-menu, 6%)}),
    --vst-color-bg-scroll-thumb-hover: var(--vst-color-bg-scroll-thumb-hover, #{lighten($vst-color-bg-menu, 6%)}),
    --vst-color-bg-profile-hover: var(--vst-color-bg-profile-hover, #{darken($vst-color-bg-menu, 5%)}),
    --vst-colog-bg-viewer-btn-active: var(--vst-colog-bg-viewer-btn-active, #{darken($vst-color-bg-menu, 6)}),
    --vst-color-bg-scroll-tabs-track: var(--vst-color-bg-scroll-tabs-track, #{lighten($vst-color-bg-tabs, 20%)}),
    --vst-color-bg-scroll-tabs-thumb: var(--vst-color-bg-scroll-tabs-thumb, #{darken($vst-color-bg-tabs, 6%)}),
    --vst-color-bg-scroll-tabs-thumb-hover: var(--vst-color-bg-scroll-tabs-thumb, #{darken($vst-color-bg-tabs, 20%)}),
    --vst-color-bg-tabs-container-resp: var(--vst-color-bg-tabs-container-resp, #{darken($vst-color-bg-tabs, 2)}),
    // TEXTS
    --vst-color-font-menu: var(--vst-color-font-menu, #{$vst-color-bg-body}),
    --vst-color-font-filter: var(--vst-color-font-filter, #{lighten($vst-color-bg-body, .3)}),
    --vst-color-text-tab: var(--vst-color-text-tab, #{$vst-color-text}),
    --vst-color-text-tab-selected: var(--vst-color-text-tab-selected, #{$vst-color-text}),
    --vst-color-text-crumb: var(--vst-color-text-crumb, #{lighten($vst-color-bg-menu, 10)}),
    --vst-color-text-filter-message: var(--vst-color-text-filter-message, #{lighten($vst-color-bg-body, 4)}),
    // BORDERS
    --vst-color-border: var(--vst-color-border, #{$vst-color-border}),
    --vst-color-border-bottom-breadcrumbs: var(--vst-color-border-bottom-breadcrumbs, #{darken($vst-color-bg-body, 2.8)}),
    --vst-color-border-bottom-header: var(--vst-color-border-bottom-header, #{darken($vst-color-bg-body, 2.8)}),
    --vst-color-fill-space-bradcrumb: var(--vst-color-fill-space-bradcrumb, #{darken($vst-color-bg-body, 2.8)}),


    ////////////////////////////////////////////
    /** SIZES **/
    ////////////////////////////////////////////
    // WIDTH
    --vst-width-menu: var(--vst-width-menu, #{$vst-width-menu}),
    --vst-width-menu-negative: var(--vst-width-menu-negative, #{-$vst-width-menu}),
    --vst-pl-menu: var(--vst-pl-menu, #{$vst-pl-menu}),
    --vst-width-viewers: var(--vst-width-viewers, #{$vst-width-viewers}),
    --vst-width-logo-container: var(--vst-width-logo-container, #{$vst-width-menu+$vst-width-viewers}),
    // HEIGHT
    --vst-height-nav: var(--vst-height-nav, #{$vst-height-nav}),
    --vst-height-tabs: var(--vst-height-tabs, #{$vst-height-nav}),
    --vst-height-filtermenu: var(--vst-height-filtermenu, #{$vst-height-filtermenu}),
    --vst-height-filtermenu-half: var(--vst-height-filtermenu-half, #{$vst-height-filtermenu / 2}),
    --vst-height-filtermenu-focused: var(--vst-height-filtermenu-focused, #{$vst-height-filtermenu * 2}),
    --vst-height-titlemenu: var(--vst-height-titlemenu, #{$vst-height-titlemenu}),
    --vst-height-titlemenu-link: var(--vst-height-titlemenu-link, #{$vst-height-titlemenu/1.2}),
    --vst-height-inner-tabs: var(--vst-height-inner-tabs, #{$vst-height-inner-tabs}),
    --vst-height-breadcrumbs: var(--vst-height-breadcrumbs, #{$vst-height-breadcrumbs}),
    --vst-height-logo: var(--vst-height-logo, #{$vst-height-nav/2}),
    --vst-height-profile: var(--vst-height-profile, #{$vst-height-titlemenu}),
    // UTILS
    --vst-margin-right-tab: var(--vst-margin-right-tab, #{$vst-margin-right-tab}),
    --vst-padding-top-tabs: var(--vst-padding-top-tabs, #{$vst-padding-top-tabs}),
    --vst-padding-inner-tab: var(--vst-padding-inner-tab, #{$vst-padding-inner-tab}),
    --vst-side-close-tab-btn: var(--vst-side-close-tab-btn, #{$vst-side-close-tab-btn}),
    --vst-margin-left-logo-container-break: var(--vst-margin-left-logo-container-break, #{$vst-height-nav+4}),
    --vst-padding-left-tabs-container: var(--vst-padding-left-tabs-container, #{$vst-width-menu + $vst-width-viewers}),
    --vst-padding-left-site: var(--vst-padding-left-site, #{$vst-width-menu + $vst-width-viewers}),
    --vst-margin-top-tab-btn-close: var(--vst-margin-top-tab-btn-close, #{-$vst-side-close-tab-btn / 2}),
    --vst-radius-border-left-top-tab: var(--vst-radius-border-left-top-tab, #{$vst-radius-border-left-top-tab}),
    --vst-radius-border-right-top-tab: var(--vst-radius-border-right-top-tab, #{$vst-radius-border-right-top-tab}),
    --vst-side-check-tabs: var(--vst-side-check-tabs, #{$vst-height-nav - 20px}),
    --vst-side-menu-icon: var(--vst-side-menu-icon, #{$vst-side-menu-icon}),
    --vst-side-menu-icon-font-size: var(--vst-side-menu-icon-font-size, #{$vst-side-menu-icon-font-size}),
    
    ////////////////////////////////////////////
    /** UTILS **/
    ////////////////////////////////////////////
    --vst-padding-x-fbcell: var(--vst-padding-x-fbcell, #{$vst-padding-x-fbcell}),
    --vst-padding-y-fbcell: var(--vst-padding-y-fbcell, #{$vst-padding-y-fbcell}),
);

@function var($variable) {
    @return map-get($variables, $variable);
}