// Pushed Footer
html, body {
    margin:0;
    padding:0;
    height:100%;
}
#pf-container {
    min-height:100%;
    position:relative;
}
#pf-header {
	z-index: 99;
}
#pf-body {
    padding-bottom:60px;   /* Height of the footer */
}
#pf-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;   /* Height of the footer */
}

.fw-6 {
    font-weight: 600;
}

.form-check {
    input.form-check-input {
        font-size: 1rem;
        margin-top: 0.2rem;
    }
    label.form-check-label {
        line-height: 1.5;
    }
}

.dx-datagrid-header-panel {
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

label {
    margin-bottom: 0;
}

// :root {
//     // GERAL
//     --vst-color-theme: #90D14F;
//     --vst-color-primary: #90D14F;
//     --vst-color-error: #FF6E80;
//     --vst-color-success: #90D14F;
//     --vst-color-text: #4A4A4A;
//     // BACKGROUNDS
//     --vst-color-bg-body: #FFF;
//     --vst-color-bg-menu: #524d6d;
//     --vst-color-bg-tabs: #3b394c;
//     --vst-color-bg-tab-out: #D4D6D7;
//     --vst-color-bg-fieldbuilder: #FFF;
//     --vst-color-bg-tab: #D4D6D7;
//     --vst-color-bg-tab-selected: #FFF;
//     --vst-color-bg-tab-hover: darken(#D4D6D7, 2);
//     --vst-color-bg-breadcrumbs: #{$vstbg};
//     // TEXTS
//     --vst-color-font-menu: #FFF;
//     --vst-color-text-tab: #4A4A4A;
//     --vst-color-text-tab-selected: #4A4A4A;
//     --vst-color-text-crumb: lighten(#524d6d, 10);
//     // BORDERS
//     --vst-color-border: #3f3b56;
//     --vst-color-border-bottom-breadcrumbs: darken(#FFF, 2.8);
//     --vst-color-fill-space-bradcrumb: darken(#FFF, 2.8);

//     ////////////////////////////////////////////
//     /** SIZES **/
//     ////////////////////////////////////////////

//     // WIDTH
//     --vst-width-menu: 240px;
//     --vst-pl-menu: 20px;
//     --vst-width-viewers: 0px;
//     // HEIGHT
//     --vst-height-nav: 50px;
//     --vst-height-tabs: $vst-height-nav;
//     --vst-height-filtermenu: 24px;
//     --vst-height-titlemenu: 42px;
//     --vst-height-inner-tabs: 100%;
//     --vst-height-breadcrumbs: 80px;
//     // UTILS
//     --vst-margin-right-tab: 4px;
//     --vst-padding-top-tabs: 8px;
//     --vst-padding-inner-tab: 7px 8px;
//     --vst-side-close-tab-btn: 16px;
    
//     ////////////////////////////////////////////
//     /** UTILS **/
//     ////////////////////////////////////////////
    
//     --vst-padding-x-fbcell: 12px;
//     --vst-padding-y-fbcell: 4px;
// }