<dx-data-grid *ngIf="!externFormEditing || !useForm" (onInitialized)="onInitialized($event)">
    <ng-container *ngIf="templates">
        <ng-container *ngFor="let temp of templates;">
            <div *dxTemplate="let obj of temp.name;">
                <ng-template [ngTemplateOutlet]="temp.template" [ngTemplateOutletContext]="{obj: obj}"></ng-template>
            </div>
        </ng-container>
    </ng-container>
    <ng-container>
        <div *dxTemplate="let obj of 'showHiddenColumnsTemplate'">
            <vst-display-hidden-columns [displayFields]="hiddenFields" [displayData]="obj.data"></vst-display-hidden-columns>
        </div>
    </ng-container>
</dx-data-grid>
<div *ngIf="externFormEditing" [ngClass]="{useBorder: 'vst-grid-form-border'}">

    <!-- VIEW DE ERRO -->
    <div class="err-representation" *ngIf="formError">
        <div class="container-fluid">
            <p><b>{{ formError.title }}</b> {{ formError.text }}</p>
        </div>
    </div>

    <!-- TEMPLATE PARA FORMULARIO -->
    <ng-template #formTemplate>
        <div class="container-fluid mt-4">
            <form (submit)="save(); false;">
                <vst-form [schema]="formSchema" [data]="dataEditing" [formOperation]="formOperation"></vst-form>
                <div class="text-right mt-3" *ngIf="dataEditingType !== 'view'">
                    <dx-button 
                        class="mr-2"
                        (onClick)="_btnCancelClick()" 
                        [disabled]="(cancelEditing.disabled!==undefined) ? cancelEditing.disabled : false"
                        [text]="cancelEditing.text || 'Cancelar'" 
                        [type]="cancelEditing.type || 'normal'" 
                        [hint]="cancelEditing.hint || 'Cancelar'"
                        [icon]="cancelEditing.icon"
                        [elementAttr]="cancelEditing.elementAttr"
                    ></dx-button>
                    <dx-button 
                        [useSubmitBehavior]="true"
                        (onClick)="_btnSaveClick()" 
                        [disabled]="saveLoading || (saveEditing.disabled!==undefined) ? saveEditing.disabled : false"
                        [text]="saveEditing.text || 'Salvar'" 
                        [type]="saveEditing.type || 'normal'" 
                        [hint]="saveEditing.hint || 'Salvar'"
                        [icon]="saveEditing.icon"
                        [elementAttr]="saveEditing.elementAttr"
                    ></dx-button>
                </div>
                <div class="text-right mt-3" *ngIf="dataEditingType === 'view'">
                    <dx-button 
                        class="mr-2"
                        (onClick)="_btnBackClick()" 
                        [disabled]="(backViewBtn.disabled!==undefined) ? backViewBtn.disabled : false"
                        [text]="backViewBtn.text || 'Voltar'" 
                        [type]="backViewBtn.type || 'normal'" 
                        [hint]="backViewBtn.hint || 'Voltar'"
                        [icon]="backViewBtn.icon"
                        [elementAttr]="backViewBtn.elementAttr"
                    ></dx-button>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- TIPO DE ABERTURA -->
    <ng-container *ngIf="!useForm">
        <dx-popup [visible]="true" [showCloseButton]="false" [dragEnabled]="false">
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
        </dx-popup>
    </ng-container>
    <ng-container *ngIf="useForm">
        <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
    </ng-container>

    <!-- POPUP PARA CONFIRMAR FECHAMENTO DE FORMULARIO -->
    <dx-popup 
        #popUpConfirmation 
        [showCloseButton]="false" 
        [dragEnabled]="false"
        [maxWidth]="400"
        [height]="200"
        [position]="'center'"
        [resizeEnabled]="false"
        [showCloseButton]="true"
        [showTitle]="true"
    ></dx-popup>
    
</div>