.err-representation {
    background-color: #e89895;
    white-space: normal;
    word-wrap: break-word;
    padding: 9px 35px 9px 0px;
    border-top: 1px solid #d48683;
    border-bottom: 1px solid #d48683;

    p {
        color: #FFF;
        margin: 0;
    }

    .close-btn {
        float: right;
        margin: 9px;
        font: 14px/14px DXIcons;
        width: 14px;
        height: 14px;
        background-position: 0 0;
        background-size: 14px 14px;
        padding: 0;
        text-align: center;
    }
}

.vst-grid-form-border {
    padding: 4px 9px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}