<div class="vst-breadcrumbs">
    <div class="_vst-crumb" *ngFor="let breadCrumb of pages; let i = index;">
        <a *ngIf="pages.length != i+1" [routerLink]="breadCrumb.urlPath">{{ breadCrumb.title }}</a>
        <span *ngIf="pages.length == i+1">{{ breadCrumb.title }}</span>
        <span class="_vst-spacer">
            <svg width="5px" height="48px" viewBox="0 0 5 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <path d="M4.5,0.5 L0.5,47.5" id="Line-2" stroke="#979797" fill-rule="nonzero"></path>
                </g>
            </svg>
        </span>
    </div>
</div>