@import "src/styles/pattern.scss";

.vst-breadcrumbs {
    width: 100%;
    height: var(--vst-height-breadcrumbs);
    display: flex;
    background-color: var(--vst-color-bg-breadcrumbs);
    border-bottom: 1px solid var(--vst-color-border-bottom-breadcrumbs);
    
    ._vst-crumb {
        align-items: center;
        display: flex;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
        font-weight: 300;
        position: relative;
        
        a, span {
            color: var(--vst-color-text-crumb);
        }

        ._vst-spacer {
            position: absolute;
            right: 0;
            width: 5px;
            height: 50%;

            img, svg {
                width: 100%;
                height: 100%;

                path {
                    fill: var(--vst-color-fill-space-bradcrumb);
                }
            }
        }
    }

    ._vst-crumb:last-child {
        font-weight: bold;
        font-size: 14px;
        
        ._vst-spacer {
            display: none;
        }
    }
}