@import "src/styles/_vst-mixins.scss"; // mixin exceção
@import "src/styles/pattern.scss";

#vst-nav {
    position: fixed;
    z-index: 99999;
    height: var(--vst-height-nav);
    width: 100%;
    z-index: 10;
    background: var(--vst-color-bg-menu);
    
    ._vst-logo-container {
        @extend %vst-otl-item;
        width: var(--vst-width-logo-container);
        height: var(--vst-height-nav);
        padding-left: 16px;
        padding-bottom: 6px;
        align-items: flex-end;
        // position: absolute;
        // top: 0;
        background-color: var(--vst-color-bg-menu);
        border-bottom: 1px solid var(--vst-color-border);
        float: left;
        img, svg {
            height: var(--vst-height-logo);
        }
        @include responsive-breakpoint-down {
            border-bottom: 0;
            align-items: center;
            padding: 0;
            padding-top: 2px;
            margin-left: var(--vst-margin-left-logo-container-break);
        }
    }
    
    ._vst-tabs-container {
        width: 100%;
        height: var(--vst-height-nav);
        padding-left: var(--vst-padding-left-tabs-container);
    }
    
    ._vst-menu-trigger {
        display: none;
        margin: 0;
        border: 0;
        padding: 2px;
        background: none;
        cursor: pointer;
        outline: none;
        img, svg {
            width: 100%;
            height: 100%;
            rect {
                fill: var(--vst-color-font-menu);
            }
        }
        @include responsive-breakpoint-down {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: var(--vst-height-nav);
            height: var(--vst-height-nav);
        }
    }

    @include responsive-breakpoint-down {
        background-color: var(--vst-color-bg-menu);
        &._vstmenuopen {
            box-shadow: 0 2px 4px rgba(0,0,0,.2);
        }
    }

}

#vst-menu {
    position: fixed;
    top: var(--vst-height-nav);
    left: var(--vst-width-viewers);
    bottom: 0px;
    width: var(--vst-width-menu);
    overflow: auto;
    padding-bottom: 40px;
    background-color: var(--vst-color-bg-menu);
    z-index: 9;

    ._vst-space {
        height: 10px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--vst-color-bg-scroll-track);
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--vst-color-bg-scroll-thumb);
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--vst-color-bg-scroll-thumb-hover);
    }

    .vst-content {
        padding-left: 6px;
        margin-bottom: 6px;
    }

    @include responsive-breakpoint-down {
        left: var(--vst-width-menu-negative);
        transition: .4s;
    }

    &._vstmenuopen {
        left: 0;
        transition: .4s;
    }
}

#vst-site {
    position: absolute;
    top: var(--vst-height-nav);
    left: 0;
    width: 100%;
    padding-left: var(--vst-padding-left-site);
    background-color: var(--vst-color-bg-body);
    color: var(--vst-color-text);

    &._vstmenuopen {
        ._vst-menu-overlay {
            display: none;
            background: rgba(0,0,0,.5);
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 5;
            @include responsive-breakpoint-down {
                display: block;
            }
        }
    }

    @include responsive-breakpoint-down {
        padding-left: 0;
    }
}

// side menu component
.vst-side-menu {
    // background: green;
}


#vst-site-viewers {
    background-color: var(--vst-color-bg-menu);
    width: var(--vst-width-viewers);
    border-right: 1px solid vat(--vst-color-border);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    ._vst-context-btn {
        padding: 10;
        border: 0;
        margin: 4px 0;
        background: none;
        outline: none;
        cursor: pointer;
        width: var(--vst-width-viewers);
        height: var(--vst-width-viewers);
        &:active {
            background: var(--vst-colog-bg-viewer-btn-active);
        }
        img {
            width: 100%;
        }
        &._vst-active {
            background: var(--vst-colog-bg-viewer-btn-active);
        }
    }
}