<div id="vst-site" [class._vstmenuopen]="menuOpen">
    <vst-breadcrumbs *ngIf="layoutService.breadcumbsEnabled"></vst-breadcrumbs>
    <router-outlet></router-outlet>
    <div class="_vst-menu-overlay" (click)="menuOpen=false;"></div>
</div>
<div id="vst-menu" [class._vstmenuopen]="menuOpen">
    <vst-auth-widget *ngIf="layoutService.authWidgetEnable"></vst-auth-widget>

    <!-- <vst-sidemenu [groups]="groups" [enableSearch]="true"></vst-sidemenu> -->
    <vst-filter-menu *ngIf="layoutService.filterEnabled" [(filtering)]="filterActivated" [menuItems]="layoutService.groups"></vst-filter-menu>
    <div *ngIf="!filterActivated">
        <div class="_vst-space"></div>
        <vst-menutree [itemsMenu]="layoutService.groups" (click)="menuOpen=false;" [markItemActive]="layoutService.menuMarkItem"></vst-menutree>
    </div>
</div>

<!-- <div id="vst-site-viewers" [ngClass]="{'vst-ctxt-tester': global.vstContext=='tester', 'vst-ctxt-builder': global.vstContext=='builder'}">
    <button class="_vst-context-btn" [ngClass]="{'_vst-active': global.vstContext=='builder'}" (click)="setContextToBuilder()">
        <img src="/assets/build.png">
    </button>
    <button class="_vst-context-btn" [ngClass]="{'_vst-active': global.vstContext=='tester'}" (click)="setContextToTester()">
        <img src="/assets/tester.png">
    </button>
</div> -->
<nav id="vst-nav" [class._vstmenuopen]="menuOpen">
    <button class="_vst-menu-trigger" (click)="menuOpen=!menuOpen;">
        <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="menu-rnd" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group" transform="translate(11.000000, 15.000000)" fill="#000000" fill-rule="nonzero">
                    <rect id="Rectangle" x="0" y="0" width="28" height="4" rx="2"></rect>
                    <rect id="Rectangle" x="0" y="8" width="28" height="4" rx="2"></rect>
                    <rect id="Rectangle" x="0" y="16" width="28" height="4" rx="2"></rect>
                </g>
            </g>
        </svg>
    </button>
    
    <a class="_vst-logo-container" routerLink="/">
        <img class="vsti-logo-menu" [src]="layoutService.logoSrc">
    </a>
    
    <div class="_vst-tabs-container" *ngIf="layoutService.tabsEnabled">
        <vst-tabs></vst-tabs>
    </div>
</nav>