@import "src/styles/_vst-mixins.scss"; // mixin exceção
@import "src/styles/pattern.scss";

.vst-auth-widget {
    padding: 6px;
    width: 100%;
    // margin-bottom: 10px;
    
    // componente de profile
    .vst-profile-options {
        width: 100%;
        display: flex;
        align-items: center;
        // cursor: pointer;
    
        .vst-profile-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--vst-height-profile);
            height: var(--vst-height-profile);

            position: relative;
            overflow: hidden;
            box-shadow: 0px 2px 4px rgba(0,0,0,.1);
            border-radius: 0.22rem;
            background: #3e3e3e;
            &:before{
                content: "";
                display: block;
                padding-top: 90%; // most images are on horizontal
            }
            .vst-profile-img-content {
                position:  absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .vst-profile-content {
            font-size: 12px;
            padding-left: 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--vst-color-font-menu);
            .vst-name {
                display: block;
                font-weight: 800;
            }
            .vst-description {
                display: block;
                opacity: .7;
                font-size: 10px;
            }
        }
        .vst-arrow-content {
            width: 36px;
            height: 36px;
            margin-left: 6px;
            img {
                width: 100%;
                transform: rotate(90deg);
            }
        }
    
        // &:hover {
        //     background-color: var(--vst-color-bg-profile-hover);
        // }
    
    }
    
    ._vst-btn-groups {
        position: relative;
        display: flex;
        margin-top: 6px;
        color: #FFF;
        ._vst-btn-container {
            flex: 1;
            position: relative;
            background: rgba(0,0,0,.2);
            margin: 0px 4px;
            border-radius: 4px;
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
            padding: 6px 0px;
            font-size: 12px;

            &:hover {
                cursor: pointer;
                background: rgba(0,0,0,.4);
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
