<div class="vst-auth-widget">
    <div class="vst-profile-options">
        <div class="vst-profile-img">
            <div class="vst-profile-img-content">
                <img [src]="layoutService.authWidgetOptions.image">
            </div>
        </div>
        <div class="vst-profile-content">
            <span class="vst-name">{{ layoutService.authWidgetOptions.title }}</span>
            <span class="vst-description">{{ layoutService.authWidgetOptions.subTitle }}</span>
        </div>
    </div>
    <div class="_vst-btn-groups" *ngIf="layoutService.authWidgetOptions.options.length">
        <div class="_vst-btn-container {{option.class}}" *ngFor="let option of layoutService.authWidgetOptions.options" (click)="optionClicked(option, $event);" id="{{option.id}}">
            <span class="_vst-contant">
                <i *ngIf="option.iconClass" [class]="option.iconClass"></i>
                <img *ngIf="option.iconSrc" [src]="option.iconSrc" />
                {{ option.title }}
            </span>
        </div>
    </div>
</div>