<div *ngFor="let itemMenu of itemsMenu;" class="vst-options-tree">

    <div *ngIf="itemMenu.items && itemMenu.items.length">
        <div class="_vst-title" [ngClass]="{'closed': !itemMenu.open, 'open': itemMenu.open, 'btfixed': !itemMenu.canClose}" (click)="itemMeuClicked($event, itemMenu); toggleTree(itemMenu);">
            <div class="_vst-img" *ngIf="itemMenu.canClose">
                <!-- <img src="/assets/tree-arrow.svg"> -->
                <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Artboard-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Combined-Shape" fill="#FFFFFF" points="23.5 15 24 15.5 18 21.5 12 15.5 12.5 15 18 20.5 23.5 15"></polygon></g></svg>
            </div>
            <span>{{ itemMenu.title }}</span>
        </div>

        <div class="_vst-content-tree" [@openChanged]="itemMenu.open">
            <vst-menutree [itemsMenu]="itemMenu.items"></vst-menutree>
        </div>
    </div>
    <div *ngIf="!itemMenu.items || !itemMenu.items.length">
        <a class="_vst-item {{itemMenu.class}}" [ngClass]="{'_vst-active': itemMenu==activatedItem, '_vst-with-img': itemMenu.iconSrc || itemMenu.iconClass}" [routerLink]="itemMenu.pathUrl" (click)="itemMeuClicked($event, itemMenu);">
            <span class="_vst-marker"></span>
            <div class="_vst-img" *ngIf="itemMenu.iconSrc">
                <img [src]="itemMenu.iconSrc">
            </div>
            <div class="_vst-img" *ngIf="!itemMenu.iconSrc && itemMenu.iconClass">
                <i [class]="itemMenu.iconClass"></i>
            </div>
            <span>{{ itemMenu.title }}</span>
        </a>
    </div>
    
</div>