@import "src/styles/pattern.scss";

.vst-title-tree {
    @extend %vst-otl-item;
    padding-left: 6px;
    height: var(--vst-height-titlemenu);
    font-weight: bold;

    &:not(.btfixed):hover {
        background-color: var(--vst-color-bg-menu-title-hover);
    }

    &.closed {
        img, svg {
            transform: rotate(-90deg);
        }
    }
    
    &.btfixed {
        padding-left: 16px;
        cursor: auto;
    }

    &.linked {
        padding-left: 16px;
        height: var(--vst-height-titlemenu-link);
    }

    ._vst-img {
        width: 36px;
        height: 36px;
        @extend %vst-otl-item;
        justify-content: center;
        img {
            width: 36px;
            height: 36px;
            transition: .2s;
        }
        svg {
            path, polygon {
                fill: var(--vst-color-font-menu);
            }
            transition: .2s;
        }
    }
}