<div class="vst-menu-filter-component">
    <div class="_vst-menu-search" [ngClass]="{'focused': (MSearch.btfocus || MSearch.value)}">
        <div class="_vst-img-search">
            <!-- <img src="/assets/search.png"> -->
            <!-- <svg width="39px" height="39px" viewBox="0 0 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M27.2268698,23.6913359 L38.1776695,34.6421356 L34.6421356,38.1776695 L23.6913359,27.2268698 C21.2392887,28.9730226 18.2395761,30 15,30 C6.71572875,30 0,23.2842712 0,15 C0,6.71572875 6.71572875,0 15,0 C23.2842712,0 30,6.71572875 30,15 C30,18.2395761 28.9730226,21.2392887 27.2268698,23.6913359 Z M15,25 C20.5228475,25 25,20.5228475 25,15 C25,9.4771525 20.5228475,5 15,5 C9.4771525,5 5,9.4771525 5,15 C5,20.5228475 9.4771525,25 15,25 Z" id="Combined-Shape" fill="#000000"></path></g></svg> -->
            <svg width="86px" height="91px" viewBox="0 0 86 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M85.2114624,9.86022281 L53.5945048,44.3514493 C53.215685,44.7647073 52.6808093,45 52.1201966,45 L33.8798034,45 C33.3191907,45 32.784315,44.7647073 32.4054952,44.3514493 L0.788537579,9.86022281 C0.281355559,9.30693334 0,8.58362394 0,7.83304893 L0,2 C0,0.8954305 0.8954305,0 2,0 L84,0 C85.1045695,0 86,0.8954305 86,2 L86,7.83304893 C86,8.58362394 85.7186444,9.30693334 85.2114624,9.86022281 Z M32,47 L54,47 C54.5522847,47 55,47.4477153 55,48 L55,88.517926 C55,89.6224955 54.1045695,90.517926 53,90.517926 C52.6458907,90.517926 52.2981301,90.4239092 51.9922579,90.2454838 L32.4883869,78.8682257 C31.5667338,78.3305947 31,77.3438902 31,76.276889 L31,48 C31,47.4477153 31.4477153,47 32,47 Z" id="Combined-Shape" fill="#000000"></path></g></svg>
        </div>
        <input #MSearch (focus)="MSearch.btfocus = true;" (focusout)="MSearch.btfocus = false;" placeholder="Filtrar menu" [(ngModel)]="inputSearch">
        <button class="_vst-close-search" [ngClass]="{'visible': (inputSearch.length)}" (click)="resetMenuSearch(); MSearch.focus();">
            <!-- <img src="/assets/close.svg"> -->
            <svg width="38px" height="38px" viewBox="0 0 38 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M15,15 L15,-3 L23,-3 L23,15 L41,15 L41,23 L23,23 L23,41 L15,41 L15,23 L-3,23 L-3,15 L15,15 Z" id="Combined-Shape" fill="#000000" transform="translate(19.000000, 19.000000) rotate(-45.000000) translate(-19.000000, -19.000000) "></path></g></svg>
        </button>
    </div>
    <div *ngIf="filtering">
        <vst-menutree *ngIf="filterGroup.items && filterGroup.items.length" [itemsMenu]="[filterGroup]"></vst-menutree>
        <p *ngIf="filterGroup.items.length == 0" class="filter-message">Nenhum resultado encontrado, redefina seu filtro.</p>
    </div>
</div>