@import "src/styles/pattern.scss";

.vst-options-tree {
    display: block;
    font-weight: 400;
    color: var(--vst-color-font-menu);
    font-size: 14px;

    ._vst-content-tree {
        padding-left: 16px;
    }
    a._vst-item{
        text-decoration: none;
        color: var(--vst-color-font-menu);
    }
    ._vst-item {
        @extend %vst-otl-item;
        padding: 10px 16px;
        opacity: .85;
        position: relative;
        transition: .3s;

        &:hover {
            opacity: 1;
            background-color: var(--vst-color-bg-menu-item-hover);
            transition: .2s;
        }
        ._vst-marker { 
            content: " ";
            background-color: var(--vst-color-bg-menu-item-point-active);
            width: 10px;
            height: 80%;
            border-radius: 100%;
            position: absolute;
            left: -11px;
            top: 10%;
            transition: .2s;
        }

        &._vst-active {
            opacity: 1;
            background-color: var(--vst-color-bg-menu-item-active);
            ._vst-marker { 
                left: -5px;
            }
        }

        ._vst-img {
            width: var(--vst-side-menu-icon);
            height: var(--vst-side-menu-icon);
            @extend %vst-otl-item;
            justify-content: center;
            margin-right: 8px;
            img, svg {
                width: 100%;
                height: 100%;
            }
            i {
                font-size: var(--vst-side-menu-icon-font-size);
            }
        }
    }

    ._vst-title {
        @extend %vst-otl-item;
        height: var(--vst-height-titlemenu);
        font-weight: bold;

        &:not(.btfixed):hover {
            background-color: var(--vst-color-bg-menu-title-hover);
        }

        &.closed {
            img, svg {
                transform: rotate(-90deg);
            }
        }
        
        &.btfixed {
            padding-left: 16px;
            cursor: auto;
        }

        &.linked {
            padding-left: 16px;
            height: var(--vst-height-titlemenu-link);
        }

        ._vst-img {
            width: 26px;
            height: 36px;
            @extend %vst-otl-item;
            justify-content: center;
            margin-left: 10px;
            img {
                width: 36px;
                height: 36px;
                transition: .2s;
            }
            svg {
                path, polygon {
                    fill: var(--vst-color-font-menu);
                }
                transition: .2s;
            }
        }
    }
}