<div class="vst-side-menu">
    <vst-filter-menu *ngIf="enableSearch" [(filtering)]="filterActivated" [menuItems]="groups"></vst-filter-menu>
    <div *ngIf="!filterActivated">
        <!-- <vst-menutree *ngFor="let group of groups;" [itemMenu]="group"></vst-menutree> -->
    </div>
</div>