@import "src/styles/pattern.scss";

// pesquisar no menu
.vst-menu-filter-component {
    ._vst-menu-search {
        // background: blue;
        width: 100%;
        height: var(--vst-height-filtermenu);
        font-size: 10px;
        background-color: var(--vst-color-bg-filter);
        position: relative;
        &:hover {
            background-color: var(--vst-color-bg-filter-hover);
        }

        input {
            background: none;
            margin: none;
            border: none;
            // padding: none;
            height: 100%;
            width: 100%;
            position: relative;
            padding-left: 40px;
            cursor: pointer;
            color: var(--vst-color-font-filter);

            &::placeholder {
                // color: rgba(255, 255, 255, 0.7);
                color: var(--vst-color-font-filter);
            }
            &:focus {
                outline: none;
            }
            transition: .2s;
        }

        ._vst-img-search {
            width: var(--vst-height-filtermenu);
            height: var(--vst-height-filtermenu);
            display: inline-block;
            margin-left: 12px;
            position: absolute;
            opacity: .7;
            img {
                width: 50%;
                left: 25%;
                top: 18%;
                position: relative;
            }
            svg {
                position: relative;
                width: 50%;
                height: 50%;
                top: 25%;
                left: 25%;
                path {
                    fill: var(--vst-color-font-filter);
                }
            }
            transition: .2s;
        }
        ._vst-close-search {
            display: none;

            position: absolute;
            height: var(--vst-height-filtermenu);
            width: var(--vst-height-filtermenu);
            top: var(--vst-height-filtermenu-half);
            right: var(--vst-height-filtermenu-half);
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            img {
                width: 100%;
            }
            svg {
                position: relative;
                width: 100%;
                height: 100%;
                path {
                    fill: var(--vst-color-font-filter);
                }
            }
        }

        &.focused {
            background-color: var(--vst-color-bg-filter-hover);
            height: var(--vst-height-filtermenu-focused);
            padding: 8px 20px;
            padding-left: 0px;
            input {
                cursor: auto;
                // border: 1px solid rgb(202, 202, 202);
                font-size: 14px;
                border-radius: 4px;
                padding-left: 18px;
                transition: .2s;
                &::placeholder {
                    opacity: .5;
                }
            }
            ._vst-img-search {
                // display: none;
                opacity: 0;
                margin-left: 0px;
                transition: .2s;
            }
            ._vst-close-search {
                &.visible {
                    display: block;
                }
            }
        }
        transition: .2s;
    }

    .filter-message {
        color: var(--vst-color-text-filter-message);
        padding: 0px 20px;
        font-size: 12px;
        text-align: center;
        padding-top: 10px;
    }
}