<div class="vst-title-tree" [ngClass]="{'closed': !open, 'open': open, 'btfixed': !canClose, 'linked': !!pathUrl}" (click)="clicked($event);">
    <div class="_vst-img" *ngIf="canClose && !pathUrl">
        <!-- <img src="/assets/tree-arrow.svg"> -->
        <svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Artboard-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Combined-Shape" fill="#FFFFFF" points="23.5 15 24 15.5 18 21.5 12 15.5 12.5 15 18 20.5 23.5 15"></polygon></g></svg>
    </div>
    <span>{{title}}</span>
</div>