<div id="vst-login-page-image" [style.background-image]="'url('+accessService.bgImage+')'">
    <div class="_vst-overlay"></div>
</div>
<div id="vst-login-page">
    <div class="_vst-login-page-container">
        <div class="_vst-login-form-container">
            <h1 *ngIf="accessService.header" class="text-center">{{ accessService.header }}</h1>
            <div *ngIf="accessService.logoSrc" class="_vst-logo-container {{ accessService.logoClass }}">
                <img [src]="accessService.logoSrc">
            </div>
            <p *ngIf="accessService.description" class="text-center">{{ accessService.description }}</p>
            <br><br>
            <form (submit)="onFormSubmit($event)" *ngIf="formToShow=='login'">
                <dx-form [(formData)]="formData" [items]="formItems" labelLocation="top" [showValidationSummary]="true"></dx-form>
                <p class="vst-error-msg">{{ errMsg }}</p>
            </form>
            <form (submit)="onFormSubmitRecoverPassword($event)" *ngIf="formToShow=='recoverPassword' && !linkSended">
                <p class="text-center">Insiar o email cadastrado abaixo.</p>
                <dx-form [(formData)]="recoverPasswordData" [items]="recoverPasswordFormItems" labelLocation="top" [showValidationSummary]="true"></dx-form>
                <p class="vst-error-msg">{{ errMsg }}</p>
            </form>
            <div *ngIf="linkSended">
                <h4 class="text-center">Um link de recuperação de senha foi enviado para sua caixa de entrada.</h4>
                <br>
            </div>
            <p class="_vst-forget-password-container">
                <a *ngIf="formToShow=='login'" class="_vst-forget-password" href="#" (click)="forgotPassword();">Esqueci a senha</a>
                <a *ngIf="formToShow=='recoverPassword'" class="_vst-forget-password" href="#" (click)="backToLogin();">Voltar para login</a>
            </p>
        </div>
    </div>
</div>