#hle-changepw-page {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: no-repeat center bottom;
    background-size: cover;
    position: relative;

    ._fdk-overlay {
        background: #ffcc01;
        background: -webkit-radial-gradient(#ffcc01, #cca50e);
        background: radial-gradient(#ffcc01, #cca50e);
        opacity: .4;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }


    ._fdk-forget-password-container {
        text-align: center;
        margin: 0;
        ._fdk-forget-password {
            position: relative;
        }
    }
    
    ._hle-changepw-form-container {
        position: relative;
        width: 400px;
        margin: 14px;
        padding: 40px 38px;
        background: #FFF;
        border-radius: 6px;
        box-shadow: 0px 2px 12px rgba(0,0,0,.2);
        ._hle-changepwsubmit {
            width: 100%;
            .dx-button, .dx-button-content, .dx-button {
                width: 100%;
                background: #f4c503;
            }
        }
    }
}

.fdk-error-msg {
    text-align: center;
    margin-top: 14px;
    color: red;
}