<div id="hle-changepw-page" [style.background-image]="'url('+accessService.bgImage+')'">
    <div class="_fdk-overlay"></div>
    <div class="_hle-changepw-form-container">
        <h1 class="text-center">{{ accessService.header }}</h1>
        <p class="text-center">{{ accessService.description }}</p>
        <br>
        <div *ngIf="!tokenValid" class="text-center">
            <h3>Ops...</h3>
            <h4>
                Parece que esse link é inválido. Faça uma nova requisição de troca de senha.
            </h4>
            <p class="fdk-error-msg">{{ errMsg }}</p>
            <br>
            <a routerLink="/login">Realizar nova requisição</a>
        </div>
        <div *ngIf="tokenValid && !success">
            <form (submit)="onFormSubmit($event)">
                <dx-form [(formData)]="formData" [items]="formItems" labelLocation="top" [showValidationSummary]="true"></dx-form>
                <p class="fdk-error-msg">{{ errMsg }}</p>
            </form>
        </div>
        <div *ngIf="success" class="text-center">
            <h4>Sua senha foi alterado com sucesso!</h4>
            <br>
            <a routerLink="/">Acessar Sistema</a>
        </div>
    </div>
</div>